pandas==2.3.0
numpy==1.26.4
torch==2.7.1
scikit-learn==1.6.1
transformers==4.53.1
datasets==3.6.0
matplotlib==3.10.3
seaborn==0.13.2
wandb==0.23.1
python-dotenv==1.1.1
ipython==9.3.0
streamlit==1.30.0
bio==1.8.0
accelerate==1.8.1
tqdm==4.66.3
requests==2.32.2
pytest==7.4.3